.venv
._.venv
**/.venv
**/._.venv

.vscode
._.vscode
**/.vscode
**/._.vscode

.env
._.env
**/.env
**/._.env

.env*local
._.env*local
**/.env*local
**/._.env*local

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store